<!DOCTYPE html>
<html>
<head>
	<title>Steam Training</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- width adjusts to the width of the device, initial-scale sets initial zoom-->
  <meta http-equiv="content-type" content="text/html">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="content.js"></script>
</head>
<body>
<div class='bigone'>
	
</div>
</body>
</html>